@media (hover: hover) {
  .container:hover {
    rotate: y 360deg;
    translate: 0 -30px;
  }

  a:hover {
    --d: 100%;
  }

  .logo:hover .git-logo {
    transform: rotate(360deg);
  }

  img:hover {
    filter: saturate(150%);
  }
}
