header {
  background-color: $s-color;
  color: $txt-1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 1rem;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  z-index: 1000;

  .logo {
    cursor: pointer;
    .git-logo {
      font-size: 30px;
      transform: rotate(180deg);
    }
  }

  a {
    font-size: 1.6rem;
  }

  .items {
    display: flex;
    align-items: center;
    gap: 50px;

    .items-container {
      position: fixed;
      width: 0%;
      bottom: 0;
      left: -200%;
      padding-block: 30px;
      background-color: $s-color;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 100px;

      a {
        font-size: 0.8rem;
        background: linear-gradient(currentColor 0 0) bottom / var(--d, 0) 1px
          no-repeat;
      }
    }
  }
}
